#crateChart {
	width: 90%;
	position: absolute;
	left: 0;
}

table, th, td {
	border: 1px solid black;
}



.c3Line {
	fill: none
}

.c3-line {
	fill: 'none'
}

.c3Lines {
	fill: none
}

.c3-lines {
	fill: none
}

.c3Path {
	fill: none
}

.c3-path {
	fill: none
}